<%- include('../inc/head.ejs') %>

<%- include('../inc/header.ejs') %>

    <div class="row">
      
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <% if(errorMessage) { %>
          <div class="alert alert-danger" role="alert">
              <%= errorMessage %>
            </div>
            <% } %>
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin" method="POST" action="/login" novalidate>
              <div class="form-label-group">
                <label for="inputEmail">Email address</label>
                <input type="email" 
                id="inputEmail" 
                class="form-control" 
                name="email" 
                placeholder="Email address" 
                required 
                autofocus
                value="<%=oldInput.email %>">
              </div>

              <div class="form-label-group">
                <label for="inputPassword">Password</label>
                <input type="password" 
                id="inputPassword" 
                name="password" 
                class="form-control" 
                placeholder="Password" 
                required
                value="<%=oldInput.password %>">
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <a href="/reset">Reset Password</a>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  <%- include('../inc/end.ejs') %>
